form {
    display: block;
}

.email-segment {
    margin-top: 30px;
    margin-bottom: 30px;
}

.username-segment {
    margin-top: 30px;
    margin-bottom: 30px;
}

.number-segment {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logout-segment {
    margin-top: 30px;
    margin-bottom: 30px;
}

.delete-segement {
    margin-top: 30px;
}

.btn4-caution {
    background-color: white;
    border: solid rgb(214, 0, 0);
    border-width: 2px;
    color: rgb(214, 0, 0);
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    height: auto;
}

.btn4-caution:hover {
    background-color: #0071a5;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.493);
}

.btn3-warn {
    background-color: rgb(214, 0, 0);
    border: none;
    color: white;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    height: auto;
}

.btn3-warn:hover {
    background-color: rgb(155, 2, 2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.493);
}

.account-container {
    width: 100%;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
}