.code-sender {
    margin-left: 30px;
}

.code-func-parameters {
    display: inline;
}

.confirm-email {
    color: #0093D6;
}

.info {
    width: fit-content;
    margin: 10px;
    padding: 10px;
}

.btn-code {
    text-align: right;
}

.confirm-code-container {
    width: fit-content;
    margin-left: 10px;
}