.code-sender {
    margin-left: 30px;
}

.progress-container {
    width: fit-content;
    align-content: flex-end;
    background-color: rgb(42, 39, 49);
    border-radius: 5px;
    padding: 3%;
}

.code-func-parameters {
    display: inline;
}

.confirm-email {
    color: #0093D6;
}

.info {
    width: fit-content;
    margin: 10px;
    padding: 10px;
}

.btn-code {
    text-align: right;
}

.confirm-code-container {
    width: fit-content;
    margin-left: 10px;
}