.transaction {
    height: auto;
    background-color: rgba(40, 36, 48, 0.322);
}

.grocery-schedule {
    width: 52%;
    margin-left: 10px;
    padding-left: 10px;
    border: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-width: 1px;
}

.grocery-list {
    width: 48%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow-x: auto;
}

.grocery-subsection {
    height: auto;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(40, 36, 48, 0.322);
}

.expenses-section {
    width: 625px;
    height: auto;
}

.members {
    width: 625px;
    height: auto;
    margin-right: 25px;
    background-color: rgb(40, 36, 48, 0.322);
}

.grocery-members-container {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    display: flex;
}

.chat-container {
    width: 400px;
    height: 300px;
    background-color: rgb(40, 36, 48, 0.322);
}

.chart-container {
    width: 850px;
    height: 300px;
    margin-right: 25px;
    background-color: rgb(40, 36, 48, 0.322);
}

.chart-chat-section {
    width: fit-content;
    height: fit-content;
    display: flex;
}