.envelope-elements {
    display: inline-block;
    color: #3F3A4B;
}

.btn-submit {
    width: 100%;
}

.btn-right {
    right: 0%;
}

.select-style {
    width: 260px;
    padding: 10px;
    margin: 10px;
}

.options-list {
    padding: 10px;
}