.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    width: fit-content;
    height: 380px;
    padding: 30px;
    margin: auto;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.modal-title {
    color: #3F3A4B;
    font-style: normal;
    margin: 0;
}

.number-input {
    color: #3F3A4B;
}

.date-time-input {
    width: 150px;
    background-color: rgb(54, 50, 61);
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #0093D6;
    border-top: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.schedule-tasks {
    display: block;
}