@import url("_background.css");
@import url("_font.css");
@import url("_common.css");
@import url("_links.css");
@import url("_nav_menu.css");
@import url("_nav_menu_items.css");
@import url("_dashboard_content.css");
@import url("_header.css");
@import url("_confirm_email.css");
@import url("_settings.css");
@import url("_account.css");
@import url("_modal.css");
@import url("_envelope.css");

.footer {
    font-size: 12px;
    margin-bottom: 30px;
}

.footer-container {
    bottom: 0%;
    position: fixed;
    width: 100%;
    font-size: 12px;
    z-index: 1;
}

@media screen and (max-width: 360px) {
    .footer {
        margin-bottom: 10px;
    }
}

.resp {
    text-align: left;
    margin: 0;
    padding: 5px;
    color: #FEC800;
    font-size: 12px;
}

.image-size img:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.493);
}

.image-size img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.image-size:hover {
    background-color: #FEC800;
}

.image-size {
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.login-using-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.register-link {
    margin-top: 30px;
}

.btn-containers {
    display: inline-block;
}

@media screen and (max-width: 360px) {
    .btn2 {
        display: flex;
    }
}

.btn2 {
    background-color: #0093D6;
    border: none;
    color: white;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    height: auto;
}

.btn2:hover {
    background-color: #0071a5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.493);
}

.btn {
    background-color: #0093D6;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    height: auto;
    width: 120px;
}

.submit {
    text-align: center;
}

.submit-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.link {
    font-size: 12px;
    margin-top: 30px;
    margin-right: 30px;
}

.submit-area input {
    text-align: right;
}

.number-style:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #FEC800;
}

.number-style {
    width: 40px;
    background-color: rgb(54, 50, 61);
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #0093D6;
    border-top: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.input-style:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #FEC800;
}


.input-style {
    width: 260px;
    background-color: rgb(54, 50, 61);
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #0093D6;
    border-top: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.input-container {
    display: flex;
    text-align: left;
}

.form-container {
    display: inline;
}

.first-half, .second-half {
    height: 300px;
    width: 300px;
    margin-right: 60px;
    margin-left: 60px;
}

@media screen and (max-width: 360px) {
    .first-half, .second-half {
        height: 100px;
        width: 100px;
        margin-right: 0;
        margin-left: 0;
    }
}

.second-half {
    height: auto;
    width: auto;
    padding: 15px;
    text-align: center;
    align-items: center;
}

.vertical-line {
    border-left: 1px solid rgb(54, 50, 61);
    height: 300px;
}

@media screen and (max-width: 360px) {
    .vertical-line {
        display: none;
    }

    .tagline {
        display: none;
    }
}

.first-half {
    padding: 15px;
}

.row {
    border-radius: 5px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    height: 500px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 360px) {
    .row {
        border-radius: 5px;
        margin: 10px;
        height: auto;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        margin-top: 65px;
    }
}

.container {
    margin-top: 65px;
    margin-bottom: 60px;
    margin-left: 60px;
}

.rounded-corner {
    border-radius: 5px;
}

.shadow-2pt {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.35);
}

.shadow-1pt {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.493);
}

.align-right {
    margin-left: auto;
    margin-right: 30px;
}

.text-center {
    text-align: center;
}

.items-center {
    align-items: center;
}

html {
    height: 100%;
    color: white;
}

.error-text {
    color: rgb(214, 0, 71);
    font-style: italic bold;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="button"] {
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
}

button {
    cursor: pointer;
}

tb {
    padding: 5px;
}

.checkbox-container {
    align-items: right;
}

.checkbox {
    display: block;
    cursor: pointer;
    font-size: 14px;
    width: fit-content;
    right: 0;
}

/* width */
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f136;
    border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: #26242c8c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: #1c1a20d0;
}